<!DOCTYPE html>
<html lang="en">

<head>
  <title>35ASO</title>
</head>

<body>
  <h1>Itens</h1>
  <h2>Turma 35ASO</h2>
  <ul>
    <li>Rafael RM332765</li>
    <li>Felipe RM332957</li>
    <li>Rodrigo RM332290</li>
    <li>Gabriel RM332235</li>
  </ul>
  
  <form method="post" action="/item/add">
    <label for="name">Nome</label>
    <input type="text" name="name">
    <input type="submit" value="Inserir">

    <h4>Itens inseridos:</h4>
    <ul>
      <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
    </ul>
  </form>
</body>

</html>